# California District Attorney Project

The data used in this project can be viewed [here](https://drive.google.com/open?id=1lTwNX7moD-4BvAV5Fd5HbqL3luheYGc0).

In [137]:
import pandas as pd
import numpy as np
import logging
from os import listdir
import fnmatch

In [321]:
# read in the data 
police_violence_df = pd.read_excel('./data/police_violence_2013_18.xlsx', sheet_name='Police_Killings_2013_18')
ca_race_df = pd.read_csv('./data/ca_race.csv')
la_contributions_df = pd.read_csv('./data/los_angeles_county_finance.csv')

In [133]:
police_violence_df.head()

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Criminal Charges?,Link to news article or photo of official document,Symptoms of mental illness?,Unarmed,Alleged Weapon (Source: WaPo),Alleged Threat Level (Source: WaPo),Fleeing (Source: WaPo),Body Camera (Source: WaPo),WaPo ID (If included in WaPo database),Unnamed: 24
0,Name withheld by police,Unknown,Male,Unknown race,NaN,2018-05-18,Southwest Pleasant View and Highland drive,Gresham,OR,NaN,...,No Known Charges,http://www.kxl.com/police-shoot-and-kill-man-i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name withheld by police,Unknown,Male,Unknown race,NaN,2018-05-17,Britton Rd. and Kilpatrick Turnpike,Oklahoma City,OK,NaN,...,No Known Charges,http://kfor.com/2018/05/17/emergency-crews-inv...,NaN,Allegedly Armed,gun,attack,Not fleeing,NaN,NaN,NaN
2,Name withheld by police,Unknown,Male,Unknown race,NaN,2018-05-16,Washington Blvd,Belmont,OH,NaN,...,No Known Charges,http://wtov9.com/news/local/new-details-releas...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,David Romansky,34,Male,White,NaN,2018-05-15,NaN,Lake Mary,FL,NaN,...,No Known Charges,http://www.orlandosentinel.com/news/breaking-n...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marcus-David L. Peters,24,Male,Black,http://www.fatalencounters.org/wp-content/uplo...,2018-05-14,I-95 and Chamberlayne Avenue,Richmond,VA,23227.0,...,No Known Charges,http://www.nbc12.com/story/38187605/naked-man-...,No,Unarmed,unarmed,attack,Car,No,3696.0,NaN

In [17]:
ca_race_df.head()

,Geography,total_population,his_latino,his_latino_percent,white,white_percent,black,black_percent,american_native,american_native_percent,...,asian_percent,pac_islander,pac_islander_percent,other,other_percent,two_plus,two_plus_percent,Summary_Level,County,Place
0,California,"38,654,206","14,903,982",38.6,"14,837,242",38.4,"2,158,363",5.6,"136,582",0.4,...,13.7,"138,956",0.4,"90,413",0.2,"1,107,850",2.9,40.0,NaN,NaN
1,Alameda County,"1,605,217","362,070",22.6,"523,797",32.6,"176,819",11.0,"4,959",0.3,...,28.0,"13,223",0.8,"4,524",0.3,"70,149",4.4,50.0,1.0,NaN
2,Alameda city,"77,409","9,123",11.8,"33,269",43.0,"5,742",7.4,135,0.2,...,30.4,550,0.7,413,0.5,"4,625",6.0,160.0,1.0,562.0
3,Albany city,"19,420","2,506",12.9,"9,442",48.6,740,3.8,63,0.3,...,26.4,156,0.8,149,0.8,"1,246",6.4,160.0,1.0,674.0
4,Ashland CDP,"24,288","10,872",44.8,"3,146",13.0,"4,529",18.6,75,0.3,...,19.3,149,0.6,47,0.2,779,3.2,160.0,1.0,2980.0

In [35]:
la_contributions_df.head()

,Date,Contributor,Candidate,Schedule,Amount
0,10/28/16,*Southern California District Council of Labor...,*Jaqueline Lacey* \nDistrict Attorney\n*137460...,A - Monetary \n(SCC - Small Contributor Commit...,"$1,500.00"
1,09/11/17,"*Janet Crown* \n(Executive, Burn Go LLC)",*Jacquelyn Lacey* \nDistrict Attorney\n*135502...,A - Monetary \n(IND - Individual)\n[TABLE],"$1,500.00"
2,09/11/17,"*Steve Robinson* \n(Executive, Pillars 4 Life...",*Jacquelyn Lacey* \nDistrict Attorney\n*135502...,A - Monetary \n(IND - Individual)\n[TABLE],"$1,500.00"
3,09/11/17,"*Michael Schwab* \n(Real Estate Agent, 5353 D...",*Jacquelyn Lacey* \nDistrict Attorney\n*135502...,A - Monetary \n(IND - Individual)\n[TABLE],"$1,500.00"
4,09/12/17,"*Jason Post* \n(Real Estate Investor, Post In...",*Jacquelyn Lacey* \nDistrict Attorney\n*135502...,A - Monetary \n(IND - Individual)\n[TABLE],"$1,500.00"

In [32]:
# get the per state incidents
police_violence_df.State.value_counts()# .to_csv('police_violence_by_state.csv')

CA    979
TX    543
FL    462
AZ    272
GA    193
NC    176
OH    173
OK    172
WA    164
CO    155
IL    155
PA    148
MO    147
NY    136
TN    132
AL    127
LA    126
VA    109
MD    108
NM    107
IN    104
MI    102
KY    101
SC     95
NV     92
NJ     92
OR     85
WI     84
MS     75
AR     73
MN     66
KS     64
WV     58
UT     57
MA     54
ID     36
IA     34
MT     32
NE     30
CT     30
AK     29
ME     27
HI     24
DC     23
SD     19
DE     18
WY     15
NH     13
ND     10
VT      8
RI      5
Name: State, dtype: int64

## CA Police Violence Data

In [19]:
# select for only CA entries
ca_police_violence_df = police_violence_df[police_violence_df['State'] == 'CA']

In [20]:
# remove whitespace and special chars from col names
ca_police_violence_df.columns = ca_police_violence_df.columns.str.replace('\s+', '_')
ca_police_violence_df.columns = ca_police_violence_df.columns.str.replace("'", '')
ca_police_violence_df.columns = ca_police_violence_df.columns.str.replace('(', '')
ca_police_violence_df.columns = ca_police_violence_df.columns.str.replace(')', '')
ca_police_violence_df.columns = ca_police_violence_df.columns.str.replace('?', '')
ca_police_violence_df.columns = ca_police_violence_df.columns.str.replace('/', '')
ca_police_violence_df.columns = ca_police_violence_df.columns.str.replace(':', '')

In [21]:
list(ca_police_violence_df)

[u'Victims_name',
 u'Victims_age',
 u'Victims_gender',
 u'Victims_race',
 u'URL_of_image_of_victim',
 u'Date_of_Incident_monthdayyear',
 u'Street_Address_of_Incident',
 u'City',
 u'State',
 u'Zipcode',
 u'County',
 u'Agency_responsible_for_death',
 u'Cause_of_death',
 u'A_brief_description_of_the_circumstances_surrounding_the_death',
 u'Official_disposition_of_death_justified_or_other',
 u'Criminal_Charges',
 u'Link_to_news_article_or_photo_of_official_document',
 u'Symptoms_of_mental_illness',
 u'Unarmed',
 u'Alleged_Weapon_Source_WaPo',
 u'Alleged_Threat_Level_Source_WaPo',
 u'Fleeing_Source_WaPo',
 u'Body_Camera_Source_WaPo',
 u'WaPo_ID_If_included_in_WaPo_database',
 'Unnamed_24']

In [22]:
ca_police_violence_df.Criminal_Charges.value_counts()

No Known Charges                                      833
No known charges                                      142
No                                                      2
Charged, Convicted, Sentenced to 5 years in prison      1
Charged, Convicted                                      1
Name: Criminal_Charges, dtype: int64

In [23]:
# save csv of the ca police violence dataframe 
#ca_police_violence_df.to_csv('ca_police_violence.csv', encoding='utf-8', index='false')

In [24]:
# get the per county incidents
ca_counties_df = ca_police_violence_df.County.value_counts()

In [25]:
# reindex the dataframe to include a county column
ca_counties_df = pd.DataFrame(ca_counties_df)
ca_counties_df.reset_index(level=0, inplace=True)
ca_counties_df.columns = ['county', 'police_violence_incidents']

In [26]:
ca_counties_df['county'] = ca_counties_df['county'].astype(str) + ' County'

In [27]:
# add a totals row
total = pd.Series({'county':'California', 'police_violence_incidents': ca_counties_df.police_violence_incidents.sum()})
ca_counties_df = ca_counties_df.append(total, ignore_index=True)

In [28]:
ca_counties_df[ca_counties_df['police_violence_incidents'] >= 15].to_csv('counties_of_interest.csv')

In [30]:
# an file of just LA county incidents
la_police_violence_df = ca_police_violence_df[ca_police_violence_df['County'] == 'Los Angeles County']
la_police_violence_df.to_csv('la_police_violence.csv')

## Demographic Data

In [13]:
ca_county_race_df = ca_race_df[(ca_race_df['Geography'].str.contains('County')) | (ca_race_df['Geography'] == 'California')]

In [14]:
# remove census designated places
cdp = ca_county_race_df['Geography'].str.contains("CDP")
ca_county_race_df = ca_county_race_df[~cdp]

In [15]:
# rename to be easily merged
ca_county_race_df = ca_county_race_df.rename(columns={'Geography': 'county'})

In [16]:
ca_county_race_df.head()

,county,total_population,his_latino,his_latino_percent,white,white_percent,black,black_percent,american_native,american_native_percent,...,asian_percent,pac_islander,pac_islander_percent,other,other_percent,two_plus,two_plus_percent,Summary_Level,County,Place
0,California,"38,654,206","14,903,982",38.6,"14,837,242",38.4,"2,158,363",5.6,"136,582",0.4,...,13.7,"138,956",0.4,"90,413",0.2,"1,107,850",2.9,40.0,NaN,NaN
1,Alameda County,"1,605,217","362,070",22.6,"523,797",32.6,"176,819",11.0,"4,959",0.3,...,28.0,"13,223",0.8,"4,524",0.3,"70,149",4.4,50.0,1.0,NaN
22,Alpine County,"1,184",92,7.8,804,67.9,10,0.8,224,18.9,...,0.8,0,0.0,0,0.0,45,3.8,50.0,3.0,NaN
28,Amador County,"36,963","4,822",13.0,"29,436",79.6,860,2.3,458,1.2,...,1.4,72,0.2,4,0.0,790,2.1,50.0,5.0,NaN
47,Butte County,"223,877","34,503",15.4,"164,398",73.4,"3,279",1.5,"1,553",0.7,...,4.2,380,0.2,340,0.2,"9,927",4.4,50.0,7.0,NaN

## Merging

In [17]:
# merge the two dataframes
merged_df = ca_counties_df.merge(ca_county_race_df, how='right', on='county')

In [18]:
len(merged_df)

59

In [19]:
merged_df.head()

,county,police_violence_incidents,total_population,his_latino,his_latino_percent,white,white_percent,black,black_percent,american_native,...,asian_percent,pac_islander,pac_islander_percent,other,other_percent,two_plus,two_plus_percent,Summary_Level,County,Place
0,Los Angeles County,283.0,"10,057,155","4,861,648",48.3,"2,687,787",26.7,"801,182",8.0,"18,765",...,14.1,"24,439",0.2,"29,351",0.3,"220,878",2.2,50.0,37.0,NaN
1,Riverside County,70.0,"2,323,892","1,102,968",47.5,"865,631",37.2,"137,779",5.9,"9,407",...,6.0,"6,262",0.3,"3,749",0.2,"58,988",2.5,50.0,65.0,NaN
2,San Diego County,61.0,"3,253,356","1,076,319",33.1,"1,519,704",46.7,"154,251",4.7,"11,833",...,11.3,"14,043",0.4,"5,543",0.2,"102,611",3.2,50.0,73.0,NaN
3,San Bernardino County,60.0,"2,106,754","1,089,104",51.7,"642,786",30.5,"170,376",8.1,"6,840",...,6.6,"6,368",0.3,"4,417",0.2,"48,112",2.3,50.0,71.0,NaN
4,Alameda County,48.0,"1,605,217","362,070",22.6,"523,797",32.6,"176,819",11.0,"4,959",...,28.0,"13,223",0.8,"4,524",0.3,"70,149",4.4,50.0,1.0,NaN

In [20]:
# save to csv 
merged_df.to_csv('ca_county_pd_incidents_and_demographics.csv', encoding='utf-8', index=False)

# Campaign Finance Data
Los Angeles and San Diego County

## Los Angeles

In [322]:
# clean the data
la_contributions_df.Candidate = la_contributions_df['Candidate'].apply(lambda name: name[1: name.find('\n') - 2])
la_contributions_df.Contributor = la_contributions_df['Contributor'].apply(lambda name: name[1: name.find('\n') - 3])
la_contributions_df.Amount = la_contributions_df['Amount'].apply(lambda total: total.replace('$',''))
la_contributions_df.Amount = la_contributions_df['Amount'].apply(lambda total: total.replace(',',''))
la_contributions_df.Amount = la_contributions_df['Amount'].apply(lambda total: total.replace('(',''))
la_contributions_df.Amount = la_contributions_df['Amount'].apply(lambda total: total.replace(')',''))
la_contributions_df.Amount = la_contributions_df['Amount'].apply(lambda total: int(total[0:total.find('.')]))
#la_contributions_df.Amount = la_contributions_df['Amount'].apply(lambda total: int(total))

In [324]:
# new dataframe
la_contributions_df.head()

,Date,Contributor,Candidate,Schedule,Amount
0,9/10/12,05 P,acquelyn Lacey District Attorney 1334856 - Com...,A - Monetary (OTH - Other) \r[Period: 07/01/12...,1000
1,6/21/11,1530 Whittier,armen Trutanich District Attorney 1338122 - Ca...,A - Monetary (OTH - Other) \r[Period: 01/01/11...,125
2,3/17/12,"4242 Properties,",armen Trutanich District Attorney 1338122 - Ca...,A - Monetary (OTH - Other) \r[Period: 01/01/12...,1500
3,10/24/12,430 N. Cahuenga Partners,lan Jackson District Attorney 1334164 - Alan J...,A - Monetary (OTH - Other) \r[Period: 10/21/12...,500
4,3/21/12,"st Freedom Bail Bonds,",armen Trutanich District Attorney 1338122 - Ca...,A - Monetary (OTH - Other) \r[Period: 03/18/12...,200

In [256]:
la_law_enfrcmnt_support = la_contributions_df[(la_contributions_df['Contributor'].str.contains('Police') |
                                              la_contributions_df['Contributor'].str.contains('Sheriff') |
                                              la_contributions_df['Contributor'].str.contains('Officer')) ]

In [257]:
la_law_enfrcmnt_total = la_law_enfrcmnt_support.Amount.sum() 
la_total = la_contributions_df.Amount.sum()

0

## San Diego

In [267]:
# import san diego campaign finance data
sd_contributions_df = pd.read_excel('./data/ca_count_cam_fin/san_diego/transactionExportGrid1.xls')
col_headers = list(sd_contributions_df)
sd_contributions_df = pd.DataFrame(columns=col_headers)
sd_data_file_names = [f for f in listdir('./data/ca_count_cam_fin/san_diego/') if fnmatch.fnmatch(f, '*xls')]

for _file in sd_data_file_names:
  curr_df = pd.read_excel('./data/ca_count_cam_fin/san_diego/' + _file)
  sd_contributions_df = sd_contributions_df.append(curr_df)
  
sd_contributions_df.columns = sd_contributions_df.columns.str.replace('\s+', '_')
#sd_contributions_df = sd_contributions_df['Filer_Nam_L', 'Entity_Nam_L', 'Entity_Emp']

# sd_contributions_df.to_csv('sd_da_contributions.csv')

In [268]:
sd_contributions_df = sd_contributions_df[['Filer_Nam_L', 'Entity_Nam_L', 'Entity_Emp', 'Entity_Occ', 'Amount']]

In [269]:
sd_contributions_df.columns = ['Candidate', 'Contributor', 'Employer', 'Occptn', 'Amount']

In [270]:
sd_contributions_df.Candidate = sd_contributions_df['Candidate'].apply(lambda name: 'Summer Stephan' if name ==
                                                                        'Stephan for District Attorney 2018' else
                                                                        'GeneviÌ©ve Jones-Wright')

In [271]:
pac_contributions_df = pd.read_csv('./data/ca_count_cam_fin/san_diego/pac_spending.csv')

In [272]:
pac_contributions_df.columns = ['Contributor', 'Date', 'Amount', 'Candidate', 'Support/Oppose', 'Description']
pac_contributions_df = pac_contributions_df[['Contributor', 'Amount', 'Candidate', 'Description']]
pac_contributions_df.Amount = pac_contributions_df['Amount'].apply(lambda total: int(total[1: total.find('.')].replace(',','')))

In [273]:
not_law_enfrcmnt_pac = pac_contributions_df[~(pac_contributions_df['Contributor'].str.contains('Police') |
                    pac_contributions_df['Contributor'].str.contains('Sheriff') |
                    pac_contributions_df['Contributor'].str.contains('Officer'))]

In [ ]:
not_law_enfrcmnt_pac

In [274]:
sd_contributions_df = sd_contributions_df.append(pac_contributions_df)

In [275]:
list(sd_contributions_df)

['Amount', 'Candidate', 'Contributor', 'Description', 'Employer', 'Occptn']

In [282]:
law_enfrcmnt_support = sd_contributions_df[(sd_contributions_df['Employer'].str.contains('Police', na=False) |
                    sd_contributions_df['Employer'].str.contains('Officer', na=False) | 
                    sd_contributions_df['Contributor'].str.contains('Police') |
                    sd_contributions_df['Contributor'].str.contains('Sheriff') |
                    sd_contributions_df['Contributor'].str.contains('Officer') |
                    sd_contributions_df['Occptn'].str.contains('Police'))]

In [283]:
police_support_total = law_enfrcmnt_support.Amount.sum()
not_police_pac_support = not_law_enfrcmnt_pac.Amount.sum()
total_contributions = sd_contributions_df.Amount.sum()

In [284]:
print police_support_total / total_contributions
print not_police_pac_support / total_contributions

0.0242327979549
0.43698271853719617

In [286]:
print police_support_total
print not_police_pac_support
print total_contributions 
print total_contributions - (not_police_pac_support + police_support_total)

115727.0
2086870
4775635.08
2573038.079999999

In [326]:
challenged_df = pd.read_csv('./data/compt.csv')

In [328]:
challenged_df.Cand_num.value_counts()

1    29
2    21
3     4
5     2
4     2
Name: Cand_num, dtype: int64